<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  include ./assets/favicon.pug
  include ./assets/critical-css.pug
  <title>Starter Package</title>
</head>
<body>
  include ./partials/header.pug
  .content
    include ./content/404.pug
  include ./partials/footer.pug
  include ./assets/deferred-styles.pug
  include ./assets/foft-font-loading.pug
  include ./assets/scripts.pug
</body>
</html>
