extends /_layout/layout.pug

block variables
  - pageTitle = "Home"

block content
  :markdown-it(html)
    # Your brand new site

    The easiest way to start is to run the project locally. Here are the five easy steps how to do it:
    1. Clone the repository.
    2. Install dependencies (`npm install`, `yarn`).
    3. Run `gulp dev`.
    4. Edit source files in the `src` folder.
    5. See changes in the browser.

    You could learn how to use Starter Project at the official [Starter Project website].

    [Starter Project website]: https://starter.silvestar.codes/starter-project/
