<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Starter Package</title>
  include ./partials/critical-css.pug
</head>
<body>
  <h1>Starter Package</h1>
  p My first package has everything you need to start your new project using latest best practices.
  ul
    li HTML
    li CSS
    li JS
    li Critical
    li Fonts
    li Images
    li SVGs
    li Favicons
  include ./partials/deferred-styles.pug
  include ./partials/scripts.pug
</body>
</html>
