<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  include ./partials/favicon.pug
  include ./partials/critical-css.pug
  <title>Starter Package</title>
</head>
<body>
  include ./markdown/index.pug
  include ./partials/deferred-styles.pug
  include ./partials/scripts.pug
</body>
</html>
