extends /old/_layout/layout.pug

block variables
  - pageTitle = "Commands"

block content
  :markdown-it(html)

    # Commands

    It is recommended to use the following Gulp tasks:

    - `gulp dev` and `gulp dist` for the development build,
    - `gulp docs` for the documentation build, and
    - `gulp` for the production build.

    You could see the full list of gulp tasks by running `gulp --tasks`.

    > Some tasks may not run independently.

    ## Development Build

    Use when actively working on project development.

    ## Documentation Build

    Use if SassDoc, JSDoc or KSS settings are turned on.

    Use when actively working on project documentation.

    ## Production Build

    Use to generate static content and assets ready for production.
