@charset "UTF-8";

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

code {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/lato/Lato-Regular.woff2") format("woff2"), url("/fonts/lato/Lato-Regular.woff") format("woff");
}

body {
  font-family: "Lato", sans-serif;
  font-display: optional;
  line-height: 1.5;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

html {
  font-size: 14px;
}

@media screen and (min-width: 480px) {
  html {
    font-size: calc(14px + 2 * (100vw - 480px) / 480);
  }
}

@media screen and (min-width: 960px) {
  html {
    font-size: 16px;
  }
}

body {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.02729rem;
}

h2 {
  font-size: 1.80203rem;
}

.header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#138a8a), to(#13768a));
  background-image: -o-linear-gradient(top left, #138a8a, #13768a);
  background-image: linear-gradient(to bottom right, #138a8a, #13768a);
  color: #ffe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: calc(0.625 * 1rem);
}

.header h1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #383738;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #137a8f;
}

a:visited {
  color: #137a8f;
}

ul {
  border-left: 1px solid #fbdeec;
  list-style: none;
}

ul li:before {
  color: #137a8f;
  content: '✔';
  font-size: 0.88889rem;
  margin-left: -3px;
  margin-right: calc(0.625 * 1rem);
}

li a {
  text-decoration: none;
}

code {
  background-color: #daf5fa;
}

.main {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  display: grid;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(60 * 1rem);
  padding-bottom: calc(1.875 * 1rem);
  padding-top: calc(1.875 * 1rem);
  width: 100%;
}

@media (min-width: 30em) {
  .main {
    grid-template-columns: 160px 1fr;
    grid-template-rows: auto;
  }
}

.main *:first-child {
  margin-top: 0;
}

.content {
  min-width: calc(100% - calc(1.25 * 1rem));
  padding: calc(0.625 * 1rem);
}

@media (min-width: 60em) {
  .content {
    grid-column: 2 / 3;
  }
}

.sidebar {
  padding: calc(0.625 * 1rem) calc(0.625 * 1rem) 0;
}

@media (min-width: 60em) {
  .sidebar {
    padding: calc(1.25 * 1rem) calc(0.625 * 1rem);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

.sidebar ul {
  border-left: none;
  padding-left: 0;
}

.sidebar li {
  font-size: 1rem;
}

.sidebar li:before {
  content: none;
}

.sidebar .highlight:before {
  color: #d91a79;
}

.sidebar .highlight a {
  color: #d91a79;
}

@media (max-width: 59.99em) {
  .sidebar span:first-child {
    display: none;
  }
}

@media (min-width: 60em) {
  .sidebar span {
    margin-right: 0.2em;
  }
}

.sig {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(19, 138, 138, 0.15)), to(rgba(19, 122, 143, 0.15)));
  background-image: -o-linear-gradient(left, rgba(19, 138, 138, 0.15), rgba(19, 122, 143, 0.15));
  background-image: linear-gradient(to right, rgba(19, 138, 138, 0.15), rgba(19, 122, 143, 0.15));
  color: #383738;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1;
  padding: calc(0.0625 * 1rem) calc(0.625 * 1rem) calc(0.375 * 1rem);
}

.sig p {
  font-size: 0.88889rem;
  margin: 0;
}

.sig__link {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
}

.sig__icon {
  height: calc(1.25 * 1rem);
  margin-right: calc(0.125 * 1rem);
  -webkit-transform: translateY(calc(0.25 * 1rem));
  -ms-transform: translateY(calc(0.25 * 1rem));
  transform: translateY(calc(0.25 * 1rem));
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  width: calc(1.25 * 1rem);
}
