@font-face {
  font-display: optional;
  font-family: $font-alpha;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/lato/Lato-Regular.woff2') format('woff2'), url('/fonts/lato/Lato-Regular.woff') format('woff');
}
