@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin css-locks($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media screen and (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    }
  }

  @media screen and (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

@function rem($size: 20px, $media: 'desktop') {
  @if $media == 'desktop' {
    @return calc(#{strip-unit($size / $font-size--desktop)} * 1rem);
  } @else if $media == 'mobile' {
    @return calc(#{strip-unit($size / $font-size--mobile)} * 1rem);
  } @else {
    @return 1rem;
  }
}

html {
  @include css-locks(font-size, $mq--mobile, $mq--desktop, $font-size--mobile, $font-size--desktop);
}
