html {
  @include css-locks(font-size, $mq--mobile, $mq--desktop, $font-size--mobile, $font-size--desktop);
}

body {
  font-size: ms(0);
  line-height: 1.7;
}

// Headings [h1, h2, h3, h4, h5, h6]
//
// Build using modudal scale.
//
// Markup:
// <h1>This is heading 1</h1>
// <h2>This is heading 2</h2>
// <h3>This is heading 3</h3>
// <h4>This is heading 4</h4>
// <h5>This is heading 5</h5>
// <h6>This is heading 6</h6>
//
// Weight: 1
//
// Styleguide: Basic.Headings
@for $i from 1 through 6 {
  h#{$i} {
    font-size: ms(7 - $i);
  }
}

code {
  line-height: 1;
}
