block variables
head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")

  title= pageTitle + " | " + siteName
  meta(name="description", content=siteDesc)

  link(href="//instant.page", rel="dns-prefetch")
  link(href="//instant.page", rel="preconnect", crossorigin="true")

  include ../_assets/favicon.pug
  include ../_assets/critical-css.pug
