block variables
head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")

  title= pageTitle + " | " + siteName
  meta(name="description", content=siteDesc)

  link(rel="preload", href="/css/style.min.css", as="style")
  link(rel="preload", href="/js/index.min.js", as="script")

  script(src="//instant.page/3.0.0", type="module", defer="true", integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1")

  include ../_assets/favicon.pug
  include ../_assets/critical-css.pug
