- var navData = [{ 'title': 'Home', 'href': '/' }, { 'title': 'About', 'href': '/about.html' }, { 'title': 'GitHub', 'href': 'https://github.com/maliMirkec/starter-project' }, { 'title': 'Contact', 'href': 'mailto:me@silvestar.codes?Subject=Contact[SP]' }]

aside.sidebar
  nav
    ul
      each val, index in navData
        - var currentClass = val.title == pageTitle ? 'highlight' : ''
        li(class=currentClass)
          a(href=val.href)
            span= val.title
