- var navData = [{ 'title': 'Getting Started', 'href': '/' }, { 'title': 'Installation', 'href': '/installation/' }, { 'title': 'Commands', 'href': '/commands/' }, { 'title': 'Configuration', 'href': '/configuration/' }, { 'title': 'Features', 'href': '/features/' }, { 'title': 'Structure', 'href': '/structure/' }, { 'title': 'Examples', 'href': '/examples/' }, { 'title': 'GitHub', 'href': 'https://github.com/maliMirkec/starter-project' }, { 'title': 'NPM', 'href': 'https://www.npmjs.com/package/starter-project' }, { 'title': 'Contact', 'href': 'mailto:me@silvestarbistrovic.from.hr?Subject=Contact' }]

aside.sidebar
  nav
    ul
      each val, index in navData
        - var currentClass = val.title === pageTitle ? 'highlight' : ''
        li(class=currentClass)
          a(href=val.href)= val.title
