- var navData = [{ 'title': 'Getting Started', 'href': '/' }, { 'title': 'Installation', 'href': '/installation/' }, { 'title': 'Commands', 'href': '/commands/' }, { 'title': 'Configuration', 'href': '/configuration/' }, { 'title': 'Features', 'href': '/features/' }, { 'title': 'Structure', 'href': '/structure/' }]

aside.sidebar
  nav
    ul
      each val, index in navData
        - var currentClass = val.title === pageTitle ? 'highlight' : ''
        li(class=currentClass)
          a(href=val.href)= val.title
