doctype
html(lang="en")
  include /old/_partials/head.pug
  body
    include /old/_partials/header.pug
    include /old/_partials/banner.pug
    main.main
      include /old/_partials/sidebar.pug
      .content
        block content
    include /old/_partials/footer.pug
    include /old/_assets/deferred-styles.pug
    include /old/_assets/scripts.pug

