extends /old/_layout/layout.pug

block variables
  - pageTitle = "Getting Started"

block content
  :markdown-it(html)

    # Getting started

    Welcome to Starter Project, the easiest way to implement latest best practices to your website. It doesn't matter if you have an existing project or you start from the scratch; you can use this package to meet all your needs.

    ## [Installation](/installation/)

    Install using npm: `npm install starter-project --save`.

    ## [Commands](/installation/)

    Run command `gulp dev` for developing mode.

    Run command `gulp` for deployment mode.

    ## [Configuration](/configuration/)

    Configure Starter Project to meet your project requirements. Open [`config.json`](https://github.com/maliMirkec/starter-project/blob/master/config.json) to see all available options.

    ## [Features](/features/)

    Benefit from powerful features, like [Browser-sync](https://www.browsersync.io/), [Sass](http://sass-lang.com/), [Stylelint](https://stylelint.io/), [Babel](https://babeljs.io/), [Pug template engine](https://pugjs.org/api/getting-started.html), [Image Minification](https://www.npmjs.com/package/gulp-imagemin), [Critical CSS](https://www.smashingmagazine.com/2015/08/understanding-critical-css/), [Sourcemaps](https://www.npmjs.com/package/gulp-sourcemaps), and many more.

    ## Support

    Share on [Twitter](https://twitter.com/intent/tweet?url=https://starter.silvestar.codes&text=Starter%20Project%20-%20A%20set%20of%20latest%20best%20practices%20packed%20in%20Gulp%20tasks&via=malimirkeccita).

    Star on [Github](https://github.com/maliMirkec/starter-project).

    Contribute: [report an issue](https://github.com/maliMirkec/starter-project/issues/new) or [create pull request](https://github.com/maliMirkec/starter-project/compare).

    ## Changelog

    Changelog available in [CHANGELOG.md](https://github.com/maliMirkec/starter-project/blob/master/CHANGELOG.md) file.
