extends /old/_layout/layout.pug

block variables
  - pageTitle = "Features"

block content
  :markdown-it(linkify langPrefix='highlight-')
    # Features

    Starter Projects is packed with every possible feature required for developing a modern website:

    * [Yarn](https://yarnpkg.com/en/)
    * [Gulp](https://gulpjs.com/)
      * [Server versioning](https://www.npmjs.com/package/gulp-bump)
      * [Cleaning](https://www.npmjs.com/package/gulp-clean)
      * [Including directories](https://www.npmjs.com/package/require-dir)
    * [Browser-sync](https://www.browsersync.io/)
    * [editorconfig](http://editorconfig.org/)
    * [CSS](https://www.w3.org/Style/CSS/Overview.en.html)
      * [CSS Import](https://www.npmjs.com/package/gulp-cssimport)
      * [Autoprefixer](https://www.npmjs.com/package/gulp-autoprefixer)
      * [Minification](https://www.npmjs.com/package/gulp-clean-css)
      * [Sass](http://sass-lang.com/)
        * [Normalize](https://www.npmjs.com/package/normalize.css)
        * [Sass Media Queries](https://www.npmjs.com/package/sass-mq)
        * [Modular Scale](https://www.npmjs.com/package/modularscale-sass)
        * [CSS Locks](https://fvsch.com/code/css-locks/)
      * [Stylelint](https://stylelint.io/)
        * [Sass Guidelines Config](https://www.npmjs.com/package/stylelint-config-sass-guidelines)
        * [SCSS](https://www.npmjs.com/package/stylelint-scss)
        * [Order](https://www.npmjs.com/package/stylelint-order)
    * [JavaScript](https://developer.mozilla.org/bm/docs/Web/JavaScript)
      * [es6](http://es6-features.org/#Constants)
      * [Babel](https://babeljs.io/)
        * [babel-core](https://www.npmjs.com/package/babel-core)
        * [babel-preset-env](https://www.npmjs.com/package/babel-preset-env)
      * [Minification](https://www.npmjs.com/package/gulp-uglify)
      * [JavaScript Standard Style](https://standardjs.com/)
      * [ESLint](https://eslint.org/)
        * [Airbnb config](https://www.npmjs.com/package/eslint-config-airbnb-base)
        * [Import plugin](https://www.npmjs.com/package/eslint-plugin-import)
        * [Node plugin](https://www.npmjs.com/package/eslint-plugin-node)
        * [Standard plugin](https://www.npmjs.com/package/eslint-plugin-standard)
        * [Standard config](https://www.npmjs.com/package/eslint-config-standard)
    * [HTML](https://www.w3.org/html/)
      * [Pug template engine](https://pugjs.org/api/getting-started.html)
      * [Markdown Pug Filter](https://www.npmjs.com/package/jstransformer-markdown-it)
      * [Inline source](https://www.npmjs.com/package/gulp-inline-source)
      * [Minification](https://www.npmjs.com/package/gulp-htmlmin)
      * [htmllint](http://htmllint.github.io/)
    * [Fonts](https://www.zachleat.com/web/foft/)
      * [Font Face Observer](https://www.npmjs.com/package/fontfaceobserver)
    * [Images](https://images.guide/)
      * [Imagemin Minification](https://www.npmjs.com/package/gulp-imagemin)
      * [Imagemin plugin for mozjpeg](https://www.npmjs.com/package/imagemin-mozjpeg)
      * [Imagemin plugin for pngquant](https://www.npmjs.com/package/imagemin-pngquant)
    * [Favicons](https://realfavicongenerator.net/)
      * [RealFaviconGenerator](https://www.npmjs.com/package/gulp-real-favicon)
    * [Critical CSS](https://www.smashingmagazine.com/2015/08/understanding-critical-css/)
      * [Penthouse](https://www.npmjs.com/package/gulp-penthouse)
    * [Sourcemaps](https://www.npmjs.com/package/gulp-sourcemaps)
    * [Gzip](https://www.npmjs.com/package/gulp-gzip)
    * [Documentation](https://en.wikipedia.org/wiki/Documentation)
      * [SassDoc](http://sassdoc.com/)
      * [JSDoc](http://usejsdoc.org/)
      * [KSS Styleguide](http://kss-node.github.io/kss-node/)
