* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
html {
  font-size: 0.8rem; }
  @media screen and (min-width: 20em) {
    html {
      font-size: calc(0.8rem + 0.4 * (100vw - 20em) / 55); } }
  @media screen and (min-width: 75em) {
    html {
      font-size: 1.2rem; } }
