.banner {
  background-image: linear-gradient(to bottom right, $color-alpha, adjust-hue($color-alpha, -20%));
  color: $color-epsilon;
  padding: rem(15px) rem(10px);
  text-align: center;

  p {
    margin: 0;
  }

  a {
    color: inherit;
  }
}
