section.banner
  p Documentation is still work in progress, stay tuned!
  p You are welcome to contribute by #[a(href="https://github.com/maliMirkec/starter-project/issues/new") reporting an issue] or #[a(href="https://github.com/maliMirkec/starter-project/compare") creating pull request].
