block variables

header.header
  img(src="/gfx/svg/starter-project-md.svg", alt="Starter Project Logo - Folder with start button")

  h1 Starter Project

  h5 A set of latest best practices packed in Gulp tasks
