body {
  color: $color-text;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  @include tra;
  color: $color-delta;

  &:visited {
    color: $color-delta;
  }

  &:hover,
  &:focus {
    color: darken($color-delta, 15%);
  }

  &:active {
    color: darken($color-delta, 25%);
  }
}

ul {
  border-left: 1px solid lighten($color-beta, 45%);
  list-style: none;
}

li {
  &:before {
    color: $color-delta;
    content: '✔';
    font-size: ms(-1);
    margin-left: -3px;
    margin-right: rem(10px);
  }

  a {
    text-decoration: none;
  }
}

blockquote {
  background-color: lighten($color-alpha, 45%);
  color: $color-text;
  margin: 0;
  padding: rem(20px) rem(40px);

  p {
    margin: 0;
  }
}

pre {
  display: block;
  max-width: 100%;
  overflow: auto;

  code {
    white-space: pre-wrap;
    width: 100%;
    word-break: break-all;
  }
}

// Code Block
//
// Code Blocks are usually used to display markup or code.
//
// Markup:
// <pre>
//   <code>font-size: rem(20px);</code>
// </pre>
//
// Weight: 401
//
// Styleguide: Code
code {
  background-color: lighten($color-delta, 60%);

  pre & {
    display: inline-block;
    padding: rem(9px) rem(12px);
  }
}

.main {
  align-items: start;
  display: grid;
  flex: 1 1 auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  margin-left: auto;
  margin-right: auto;
  max-width: rem(960px);
  padding-bottom: rem(30px);
  padding-top: rem(30px);
  width: 100%;

  @include mq($from: mobile) {
    grid-template-columns: 240px 1fr;
    grid-template-rows: auto;
  }

  *:first-child {
    margin-top: 0;
  }
}

.content {
  grid-column: 2 / 3;
  padding: rem(10px);
  width: calc(100% - #{rem(20px)});
}

table {
  border-collapse: collapse;

  th,
  td {
    border: 1px solid lighten($color-alpha, 45%);
    padding: rem(3px) rem(5px);
    vertical-align: top;
  }
}

img {
  max-width: 100%;
}

a[href*="npmjs"] + a[href*="npmjs"] {
  margin-left: rem(5px);
}
