.sidebar {
  padding: rem(10px);

  ul {
    padding-left: rem(20px);
  }

  li {
    font-size: ms(0);

    &:before {
      content: '»';
      font-size: ms(0);
      margin-left: -3px;
      margin-right: rem(10px);
    }
  }

  .highlight {
    &:before {
      color: $color-beta;
    }

    a {
      color: $color-beta;
    }
  }
}
