.sidebar {
  padding: rem(10px);

  ul {
    padding-left: rem(20px);
  }

  li {
    font-size: ms(0);

    &:before {
      content: none;
    }
  }

  .highlight {
    &:before {
      color: $color-beta;
    }

    a {
      color: $color-beta;
    }
  }
}
