img(src="/gfx/svg/starter-project.svg", alt="Starter Project Logo - Folder with start button", inline)

:markdown-it(linkify langPrefix='highlight-')
  # Starter Package

  My first package has everything you need to start your new project using latest best practices.

  * Git Flow
  * HTML
  * CSS
  * JS
  * Critical
  * Fonts
  * Images
  * SVGs
  * Favicons
  * Modular Scale (Fluid)

  # Heading 1
  ## Heading 2
  ### Heading 3
  #### Heading 4
  ##### Heading 5
  ###### Heading 6

  Paragraph.
