p.
  Welcome to Starter Project, the easiest way to implement
  latest best practices on your project. It doesn't matter
  if you have existing project or you start from the scratch,
  this package has thourough configuration and can be used wherever.

h4 What is Starter Project?

p.
  #[a(href="#test1") Starter Project] is set of gulp tasks that will make your life easier.
  Here you will find everything that is necessary for developing modern website, including:

ul
  li
    a(href="https://yarnpkg.com/en/" target="_blank") Yarn
  li
    a(href="https://gulpjs.com/" target="_blank") Gulp
    ul
      li
        a(href="https://www.npmjs.com/package/gulp-bump" target="_blank") Server versioning
      li
        a(href="https://www.npmjs.com/package/gulp-clean" target="_blank") Cleaning
      li
        a(href="https://www.npmjs.com/package/require-dir" target="_blank") Including directories
  li
    a(href="https://www.browsersync.io/" target="_blank") Browser-sync
  li
    a(href="http://editorconfig.org/" target="_blank") editorconfig
  li
    a(href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank") CSS
    ul
      li
        a(href="https://www.npmjs.com/package/gulp-cssimport" target="_blank") CSS Import
      li
        a(href="https://www.npmjs.com/package/gulp-autoprefixer" target="_blank") Autoprefixer
      li
        a(href="https://www.npmjs.com/package/gulp-clean-css" target="_blank") Minification
      li
        a(href="http://sass-lang.com/" target="_blank") Sass
        ul
          li
            a(href="https://www.npmjs.com/package/normalize.css" target="_blank") Normalize
          li
            a(href="https://www.npmjs.com/package/sass-mq" target="_blank") Sass Media Queries
          li
            a(href="https://www.npmjs.com/package/modularscale-sass" target="_blank") Modular Scale
          li
            a(href="https://fvsch.com/code/css-locks/" target="_blank") CSS Locks
      li
        a(href="https://stylelint.io/" target="_blank") Stylelint
        ul
          li
            a(href="https://www.npmjs.com/package/stylelint-config-sass-guidelines" target="_blank") Sass Guidelines Config
          li
            a(href="https://www.npmjs.com/package/stylelint-scss" target="_blank") SCSS
          li
            a(href="https://www.npmjs.com/package/stylelint-order" target="_blank") Order
  li
    a(href="https://developer.mozilla.org/bm/docs/Web/JavaScript" target="_blank") JavaScript
    ul
      li
        a(href="http://es6-features.org/#Constants" target="_blank") es6
      li
        a(href="https://babeljs.io/" target="_blank") Babel
        ul
          li
            a(href="https://www.npmjs.com/package/babel-core" target="_blank") babel-core
          li
            a(href="https://www.npmjs.com/package/babel-preset-env" target="_blank") babel-preset-env
      li
        a(href="https://www.npmjs.com/package/gulp-uglify" target="_blank") Minification
      li
        a(href="https://standardjs.com/" target="_blank") JavaScript Standard Style
      li
        a(href="https://eslint.org/" target="_blank") ESLint
        ul
          li
            a(href="https://www.npmjs.com/package/eslint-config-airbnb-base" target="_blank") Airbnb config
          li
            a(href="https://www.npmjs.com/package/eslint-plugin-import" target="_blank") Import plugin
          li
            a(href="https://www.npmjs.com/package/eslint-plugin-node" target="_blank") Node plugin
          li
            a(href="https://www.npmjs.com/package/eslint-plugin-standard" target="_blank") Standard plugin
          li
            a(href="https://www.npmjs.com/package/eslint-config-standard" target="_blank") Standard config
  li
    a(href="https://www.w3.org/html/" target="_blank") HTML
    ul
      li
        a(href="https://pugjs.org/api/getting-started.html" target="_blank") Pug template engine
        ul
          li
            a(href="https://www.npmjs.com/package/jstransformer-markdown-it" target="_blank") Markdown Pug Filter
      li
        a(href="https://www.npmjs.com/package/gulp-inline-source" target="_blank") Inline source
      li
        a(href="https://www.npmjs.com/package/gulp-htmlmin" target="_blank") Minification
      li
        a(href="http://htmllint.github.io/" target="_blank") htmllint
  li Fonts
    ul
      li
        a(href="https://www.npmjs.com/package/fontfaceobserver" target="_blank") Font Face Observer
  li
    a(href="https://images.guide/" target="_blank") Images
    ul
      li
        a(href="https://www.npmjs.com/package/gulp-imagemin" target="_blank") Imagemin Minification
      li
        a(href="https://www.npmjs.com/package/imagemin-mozjpeg" target="_blank") Imagemin plugin for mozjpeg
      li
        a(href="https://www.npmjs.com/package/imagemin-pngquant" target="_blank") Imagemin plugin for pngquant
  li
    a(href="https://realfavicongenerator.net/" target="_blank") Favicons
    ul
      li
        a(href="https://www.npmjs.com/package/gulp-real-favicon" target="_blank") RealFaviconGenerator
  li
    a(href="https://www.smashingmagazine.com/2015/08/understanding-critical-css/" target="_blank") Critical CSS
    ul
      li
        a(href="https://www.npmjs.com/package/gulp-penthouse" target="_blank") Penthouse
  li
    a(href="https://www.npmjs.com/package/gulp-sourcemaps" target="_blank") Sourcemaps
  li
    a(href="https://www.npmjs.com/package/gulp-gzip" target="_blank") Gzip
  li Documentation
    ul
      li
        a(href="/docs/sass/" target="_blank") SassDoc
      li
        a(href="/docs/js/" target="_blank") JSDoc
      li
        a(href="/docs/styleguide/" target="_blank") Styleguide

p Documentation is still work in progress, stay tuned for more features and docs.

include structure.pug
