- var siteName = locals.site.siteName ? locals.site.siteName : "Starter Project"
- var siteDesc = locals.site.siteDesc ? locals.site.siteDesc : "Starter Project"
- var nav = locals.site.nav ? locals.site.nav : []
