block variables
- var siteName = locals.site.siteName ? locals.site.siteName : 'Starter Project'
- var siteDesc = locals.site.siteDescription ? locals.site.siteDescription : 'Default site description.'
- var nav = locals.site.nav ? locals.site.nav : []
