:markdown-it(linkify langPrefix='highlight-')
  ## Project Structure

  ```
    |-- .editorconfig
    |-- .eslintignore
    |-- .eslintrc.json
    |-- .gitignore
    |-- .htmllintrc
    |-- .stylelintrc
    |-- LICENSE
    |-- README.md
    |-- config.json
    |-- faviconData.json
    |-- gulpfile.js
    |-- package.json
    |-- postinstall.js
    |-- yarn.lock
    |-- .vscode
    |   |-- settings.json
    |-- _gulp
    |   |-- browser-sync.js
    |   |-- bump.js
    |   |-- clean.js
    |   |-- copy.js
    |   |-- css.js
    |   |-- favicon.js
    |   |-- fonts.js
    |   |-- gfx.js
    |   |-- gzip.js
    |   |-- html.js
    |   |-- jsdoc.js
    |   |-- kill.js
    |   |-- kss.js
    |   |-- penthouse.js
    |   |-- sassdoc.js
    |   |-- script.js
    |   |-- watch.js
    |-- copy
    |   |-- .editorconfig
    |   |-- .eslintignore
    |   |-- .eslintrc.json
    |   |-- .htmllintrc
    |   |-- .stylelintrc
    |   |-- config.json
    |   |-- faviconData.json
    |   |-- gitignore
    |   |-- gulpfile.js
    |-- dist
    |   |-- 404.html
    |   |-- index.html
    |   |-- css
    |   |   |-- foft.css
    |   |   |-- foft.min.css
    |   |   |-- foft.min.css.map
    |   |   |-- style.critical.css
    |   |   |-- style.critical.min.css
    |   |   |-- style.critical.min.css.map
    |   |   |-- style.css
    |   |   |-- style.min.css
    |   |   |-- style.min.css.map
    |   |-- docs
    |   |   |-- js
    |   |   |   |-- classes.list.html
    |   |   |   |-- index.html
    |   |   |   |-- module-CriticalFOFT-FontFaceObserver.html
    |   |   |   |-- module-CriticalFOFT.html
    |   |   |   |-- module-DeferredStyles.html
    |   |   |   |-- modules.list.html
    |   |   |   |-- quicksearch.html
    |   |   |   |-- fonts
    |   |   |   |   |-- glyphicons-halflings-regular.eot
    |   |   |   |   |-- glyphicons-halflings-regular.svg
    |   |   |   |   |-- glyphicons-halflings-regular.ttf
    |   |   |   |   |-- glyphicons-halflings-regular.woff
    |   |   |   |   |-- glyphicons-halflings-regular.woff2
    |   |   |   |-- img
    |   |   |   |   |-- glyphicons-halflings-white.png
    |   |   |   |   |-- glyphicons-halflings.png
    |   |   |   |-- scripts
    |   |   |   |   |-- docstrap.lib.js
    |   |   |   |   |-- fulltext-search-ui.js
    |   |   |   |   |-- fulltext-search.js
    |   |   |   |   |-- lunr.min.js
    |   |   |   |   |-- sunlight.js
    |   |   |   |   |-- toc.js
    |   |   |   |   |-- prettify
    |   |   |   |       |-- Apache-License-2.0.txt
    |   |   |   |       |-- jquery.min.js
    |   |   |   |       |-- lang-css.js
    |   |   |   |       |-- prettify.js
    |   |   |   |-- styles
    |   |   |       |-- darkstrap.css
    |   |   |       |-- prettify-tomorrow.css
    |   |   |       |-- site.cerulean.css
    |   |   |       |-- site.cosmo.css
    |   |   |       |-- site.cyborg.css
    |   |   |       |-- site.darkly.css
    |   |   |       |-- site.darkstrap.css
    |   |   |       |-- site.dibs-bootstrap.css
    |   |   |       |-- site.flatly.css
    |   |   |       |-- site.journal.css
    |   |   |       |-- site.lumen.css
    |   |   |       |-- site.paper.css
    |   |   |       |-- site.readable.css
    |   |   |       |-- site.sandstone.css
    |   |   |       |-- site.simplex.css
    |   |   |       |-- site.slate.css
    |   |   |       |-- site.spacelab.css
    |   |   |       |-- site.superhero.css
    |   |   |       |-- site.united.css
    |   |   |       |-- site.yeti.css
    |   |   |       |-- sunlight.dark.css
    |   |   |       |-- sunlight.default.css
    |   |   |-- sass
    |   |   |   |-- index.html
    |   |   |   |-- assets
    |   |   |       |-- css
    |   |   |       |   |-- main.css
    |   |   |       |-- images
    |   |   |       |   |-- favicon.png
    |   |   |       |   |-- logo_full_compact.svg
    |   |   |       |   |-- logo_full_inline.svg
    |   |   |       |   |-- logo_light_compact.svg
    |   |   |       |   |-- logo_light_inline.svg
    |   |   |       |-- js
    |   |   |           |-- main.js
    |   |   |           |-- main.min.js
    |   |   |           |-- search.js
    |   |   |           |-- sidebar.js
    |   |   |           |-- vendor
    |   |   |               |-- fuse.min.js
    |   |   |               |-- jquery.min.js
    |   |   |               |-- prism.min.js
    |   |   |-- styleguide
    |   |       |-- index.html
    |   |       |-- item-code.html
    |   |       |-- item-footer.html
    |   |       |-- item-header.html
    |   |       |-- item-typography-headings.html
    |   |       |-- item-typography-paragraphs.html
    |   |       |-- item-typography.html
    |   |       |-- section-code.html
    |   |       |-- section-footer.html
    |   |       |-- section-header.html
    |   |       |-- section-typography.html
    |   |       |-- kss-assets
    |   |           |-- WARNING.txt
    |   |           |-- github-fork--black.png
    |   |           |-- kss-fullscreen.js
    |   |           |-- kss-guides.js
    |   |           |-- kss-markup.js
    |   |           |-- kss.css
    |   |           |-- kss.js
    |   |           |-- kss.scss
    |   |           |-- noise-low.png
    |   |           |-- prettify.js
    |   |           |-- sample-inline.png
    |   |           |-- sample-inline.svg
    |   |           |-- sample.png
    |   |           |-- sample.svg
    |   |           |-- scrollspy.js
    |   |-- fonts
    |   |   |-- lato
    |   |       |-- Lato-Regular.woff
    |   |       |-- Lato-Regular.woff2
    |   |-- gfx
    |   |   |-- jpg
    |   |   |   |-- starter-project.jpg
    |   |   |-- png
    |   |   |   |-- starter-project.png
    |   |   |-- svg
    |   |       |-- starter-project.svg
    |   |-- js
    |       |-- deferredStyles.js
    |       |-- deferredStyles.js.map
    |       |-- deferredStyles.min.js
    |       |-- deferredStyles.min.js.map
    |       |-- foftFontLoading.js
    |       |-- foftFontLoading.js.map
    |       |-- foftFontLoading.min.js
    |       |-- foftFontLoading.min.js.map
    |       |-- index.js
    |       |-- index.js.map
    |       |-- index.min.js
    |       |-- index.min.js.map
    |-- src
        |-- .DS_Store
        |-- fonts
        |   |-- lato
        |       |-- .DS_Store
        |       |-- Lato-Regular.woff
        |       |-- Lato-Regular.woff2
        |-- gfx
        |   |-- jpg
        |   |   |-- starter-project.jpg
        |   |-- png
        |   |   |-- starter-project.png
        |   |-- svg
        |       |-- starter-project.svg
        |-- html
        |   |-- 404.pug
        |   |-- index.pug
        |   |-- assets
        |   |   |-- critical-css.pug
        |   |   |-- deferred-styles.pug
        |   |   |-- favicon.pug
        |   |   |-- foft-font-loading.pug
        |   |   |-- scripts.pug
        |   |-- content
        |   |   |-- 404.pug
        |   |   |-- index.pug
        |   |   |-- structure.pug
        |   |-- partials
        |       |-- footer.pug
        |       |-- header.pug
        |-- js
        |   |-- deferredStyles.js
        |   |-- foftFontLoading.js
        |   |-- homepage.md
        |   |-- index.js
        |-- scss
            |-- foft.scss
            |-- homepage.md
            |-- style.critical.scss
            |-- style.scss
            |-- components
                |-- _fonts.scss
                |-- _helpers.scss
                |-- _locks.scss
                |-- _theme.scss
                |-- _typography.scss
                |-- _variables.scss
                |-- elements
                    |-- _content.scss
                    |-- _header.scss
                    |-- _sig.scss
  ```
