extends /layout/layout.pug

block variables
  - pageTitle = "Installation"

block content
  :markdown-it(linkify langPrefix='highlight-')

    # Installation

    Install using npm: `npm install starter-project --save-dev`.

    Install using Yarn: `yarn add starter-project -D`.

    Install by cloning the repository from [Github](https://github.com/maliMirkec/starter-project): `git clone https://github.com/maliMirkec/starter-project.git`.

    ## New files

    Starter Project will copy all required files in your project root. You will see new files and folders in the project root:
    - `config.json` file,
    - `new_src` folder,
    - `_gulp` folder,
    - `gulpfile.js` file,
    - `.editorconfig` file,
    - `.eslintignore` file,
    - `.htmllintrc` file,
    - `.eslintrc.json` file,
    - `.stylelintrc` file, and
    - `faviconData.json` file.
    - `gitignore` file.

    Starter Project will not override your files. If any of the files exist, Starter Project will skip them.

    Feel free to explore new files and get to know the project structure.

    > There are issues with `.gitignore` file.
    >
    > Copy the content from new `gitignore` file to your `.gitignore` file manually or rename the file.

    ## Update

    When updating Starter Project package, nothing will change automatically (except version number in `package.json` file).

    This way Starter Project will prevent overriding your current settings. However, you could force updates by running of of the following Gulp tasks:
    - `gulp update:config` to update `config.json` file (This will override your current settings!),
    - `gulp update:gulpfile` to update `gulpfile.js` file,
    - `gulp update:source` to update source folder (based on the `src` configuration value),
    - `gulp update:tasks` to update `_gulp` folder, and
    - `gulp update:all` to update everything.

    > Please be very careful when updating Starter Project.
    >
    > Remember to commit everything before the update.
