extends /layout/layout.pug

block variables
  - pageTitle = "Configuration"

block content
  :markdown-it(linkify langPrefix='highlight-')

    # Configuration

    Starter Project has a single configuration file for Gulp tasks, [`config.json`](https://github.com/maliMirkec/starter-project/blob/master/config.json).

    Other configuration files are for linters and coding guidelines.

    ## Globals

    Starter Project has 3 global options:
    - `"root": "./"` - for defining project root folder,
    - `"dest": "dist/"` - for defining destination folder within root, and
    - `"src": "src/"` - for defining source folder within root.

    `src` option is also used when updating source folder. See [Installation](/installation/) page, Updates section.

    ## Locals

    Local options are related to specific feature, like CSS or HTML. Most of the local settings contain the following options:
    - `"run": true` - for defining whetear to run a feature,
    - `"src": "src/scss/"` - for defining path to source code,
    - `"dest": "css/"` - for defining path to compiled code, and
    - `"clean": "css/"` - for defining path for deleting before rebuild.

    ## Configs

    Almost every feature has specific config sections. For example, CSS feature has 5 config sections:
    - `styleLintConfig` - for [stylelint](https://www.npmjs.com/package/gulp-stylelint),
    - `sassConfig` - for [Sass](https://www.npmjs.com/package/gulp-sass),
    - `autoprefixedConfig` - for [autoprefixer](https://www.npmjs.com/package/gulp-autoprefixer),
    - `renameConfig` - for [file renaming](https://www.npmjs.com/package/gulp-rename), and
    - `sourcemapsConfig` - for [sourcemaps](https://www.npmjs.com/package/gulp-sourcemaps).

    > It is recommended to go through every option to familiarize with all available features and options.

    ## Flexibility

    [Starter Project structure](/structure/) and configuration should be sufficient and flexible enough to match any project environment. See [examples](/examples/).
