extends /layout/layout.pug

block variables
  - pageTitle = "Configuration"

block content
  :markdown-it(linkify langPrefix='highlight-')

    # Configuration

    Starter Project has a single configuration file, [`config.json`](https://github.com/maliMirkec/starter-project/blob/master/config.json).

